/*html {
	background-color: #000000;
}*/

/*body { 
	background: url("bg/random.image.php") fixed no-repeat; 
}*/

.navbar {
	font-size: 12px;
}

.nav.navbar-nav li a {
 	color: #00BC00;
 }

.nav.navbar-nav a:hover {
	color: #747981;
}

.active {
	color: #00BC00; 
}

.btn.btn-lg.btn-success {
	background-color: #000000;
	border-color: #747981;
	color: #00BC00;
	font: "Open Sans Bold";
}

.btn.btn-lg.btn-success:hover {
	color: #747981;
}

.secondbutton {
	margin-left: 7em;
}


#results {
	margin-top: 150px;
}


/** {
   font-size: 14px;
   line-height: 2;
}*/

.width1{
	width: 250px;
}

#results-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.images{
	height: 180px;
}
.image_backside{
	height: 180px;
	width: 130px;
	background-color: black;
	color: #00BC00;
	font-weight: bolder;
	padding: 10px;
	border-style: solid;
	border-color: #747981;
}