#body{
	height: 1600px;
	overflow-y: scroll;
}

.navbar {
	font-size: 12px;
}

.nav.navbar-nav li a {
 	color: #00BC00;
 }

.nav.navbar-nav a:hover {
	color: #747981;
}

.active {
	color: #00BC00; 
}

.headerTitle {
	padding-top: 100px;
	color: #00BC00;
	font-size: 18px !important;
}

.btn.btn-lg.btn-success {
	color: #00BC00;
	background-color: #000000;
	border-color: #747981 !important;
	border: 4px solid;
	font: "Open Sans Bold";
}

.btn.btn-lg.btn-success:hover {
	color: #747981;
}

.secondbutton {
	margin-left: 5%;
}

#results {
	margin-top: 150px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: 65px;
    bottom: 0;
    width: 100%;
}

.fieldset{
	width: 500px;
	margin: auto;
	border: 4px 
	solid #747981;
}
.legend{
	font-size: 12px;
	color: #00BC00;
	padding: 2px;
	width: auto;
	padding: 10px;
}

#genres_select{
	width: 300px;
	background-color: black;
	color:#606060;
	font-size: 12px;
	text-align: center;
	border-style: none;
}

.green{
	color: #00BC00;
}

.inputs_text{
	font-size: 12px;
	color: #606060;
	margin: 10px;
	display: inline-block;
}

#results-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.images{
	height: 250px;
}

.image_backside{
	height: 250px;
	width: 170px;
	background-color: black;
	color: #00BC00;
	padding: 10px;
	border-style: solid;
	border-color: #747981;
}

